body { 
  background: url("../images/205559.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#content {
	background: white;
	overflow: auto;
	padding-bottom: 10px;
}

#hangman-graphic {
	border: solid black;
	width: 75%;
}